Options +FollowSymlinks -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to sensitive core directories & files
    RewriteRule ^(\.env|env|schema\.sql|composer\.(json|lock)|package\.(bat|php)|spark|release_guide\.html) - [F,L,NC]
    RewriteRule ^(app|system|writable|tests)/ - [F,L,NC]

    # Rewrite all other requests to public/ folder
    RewriteCond %{REQUEST_URI} !/public/ [NC]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>



